/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo img {
    max-width: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.item-catalog {
    margin-top: 20px; /* Add margin to create space below the navbar */
}
