body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 12 auto;
    padding: 0 50px;
}

header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    flex: 1; /* This will make the logo occupy the remaining space */
    text-align: left;
}

.logo img {
    max-height: 100px;
    position: absolute;
    left: 0px;
    top: 0px;
    transform: scale(1.25);
}


.menu {
    flex: 1; /* This will make the menu occupy the remaining space */
    text-align: right; /* Align menu items to the right */
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}


.hero {
    background-image: url('../assets/backg.jpg'); /* Replace 'your-image.jpg' with the path to your background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-position-y: center;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    height: 65vh;
}


.hero h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.buttons .btn-outline,
.buttons .btn-filled {
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons .btn-outline {
    border: 2px solid #fff;
    background-color: transparent;
}

.buttons .btn-filled {
    border: none;
    background-color: #007bff;
}

.buttons .btn-outline:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.buttons .btn-filled:hover {
    background-color: #0056b3;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
}

/* Modal content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


.footer p {
    margin: 0;
}
